.git
.github
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
*.md
Dockerfile
Dockerfile.prod
docker-compose*.yml
docker/nginx
